DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_application_client_id_here
GUILD_ID=your_server_id_here
LOG_CHANNEL_ID=shift_log_channel_id_here
REPORT_CHANNEL_ID=private_report_channel_id_here
# Optional: role ID allowed to use admin commands (in addition to Administrator permission)
ADMIN_ROLE_ID=
